doctype html
html
  head
    title
      | Sparrow - Unborn
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    #appContainer.appContainer
      = yield
